*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

button{
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.1rem 1rem;
}

.setting-btn{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.settings{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    color: #fff;
    background-color: hsl(316, 50%, 24%);
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateY(-100%);
    transition: 0.7s ease-in-out;
}

.settings.show{
    transform: translateY(0);
}

.select{
    margin-left: 0.5rem;
    cursor: pointer;
    width: 10rem;
    padding: 0.5rem;
    appearance: none;
    background-color: #4b81b6;
    color: #fff;
    border: 0.2rem;

}

select:focus, button:focus, .container input{
    outline: 0;
}

.container{
    background-color: hsl(216, 50%, 16%);
    padding: 1.2rem;
    border-radius: 4px;
    color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    width: 480px;
}

.container h2{
    background-color: hsl(217, 54%, 11%);
    padding: 0.5rem;
    border-radius: 8px;
}

.container h1{
    margin: 0;
}
