*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

button{
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.1rem 1rem;
}

.setting-btn{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.settings{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    color: #fff;
    background-color: hsl(316, 50%, 24%);
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateY(-100%);
    transition: 0.7s ease-in-out;
}
